@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background : #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background : #040D2C;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--primary-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
